<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div>
      <%= futurize post, as: :div do %>
        Placeholder
      <% end %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag :modal %>

<%= link_to "New post", new_post_path %>
